<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <th:block th:insert="general.html :: headblock"/>
    <title>Spring Security Example</title>
</head>
<body>
<nav class="navbar navbar-expand-x1 navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Welcome</a>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a type="button" class="btn btn-outline-light" th:href="@{/login}">Login</a>
            <a type="button" class="btn btn-outline-light" th:href="@{/registration}">Registration</a>
        </div>
    </div>
</nav>
<h1>Welcome to Index PAGE!</h1>

<th:block th:insert="general.html :: footer"/>
</body>
</html>