<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="general.html :: headblock"/>
    <title>USER info</title>
</head>
<body>
<th:block th:insert="general.html :: header"/>

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action" th:if="${isAdmin}" th:href="@{/admin}">
                    Admin
                </a>
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">User</a>
            </div>
        </div>
        <div class="col bg-light start-10">
            <h1 class="my-3 mx-2">User information-page</h1>
            <div class="card-body">
                <h5 class="card-title bg-light">About user</h5>
                <div class="bg-white m-3">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Age</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="align-middle" th:text="${currentUser.id}"></td>
                            <td class="align-middle" th:text="${currentUser.firstName}"></td>
                            <td class="align-middle" th:text="${currentUser.lastName}"></td>
                            <td class="align-middle" th:text="${currentUser.email}"></td>
                            <td class="align-middle" th:text="${currentUser.age}"></td>
                            <td class="align-middle" th:text="${currentUser.getRoles()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="general.html :: footer"/>
</body>
</html>
