<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="general.html :: headblock"/>
    <title>All users</title>
</head>
<body>
<th:block th:insert="general.html :: header"/>

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="list-group-flush">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    Admin
                </a>
                <a href="#" class="list-group-item list-group-item-action" th:href="@{/user}">User</a>
            </div>
        </div>
        <div class="col bg-light start-10">
            <h1 class="my-3 mx-2">Admin panel</h1>
<!--            <div class="card text-start">-->
                <div class="card-header bg-light">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="true" href="#">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" th:href="@{/admin/new_user}">New User</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title bg-light">All users</h5>
                    <div class="bg-white m-3">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Age</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${#lists.isEmpty(users)}">
                                <td class="text-center" colspan="4">Нет записей</td>
                            </tr>
                            <tr th:each="user : ${users}">
                                <td class="align-middle" th:text="${user.id}"></td>
                                <td class="align-middle" th:text="${user.firstName}"></td>
                                <td class="align-middle" th:text="${user.lastName}"></td>
                                <td class="align-middle" th:text="${user.email}"></td>
                                <td class="align-middle" th:text="${user.age}"></td>
                                <td class="align-middle" th:text="${user.getRoles()}"></td>
                                <td>

                                    <button type="button" class="btn btn-primary mx-1" data-bs-toggle="modal" th:data-bs-target="${'#userEdit'+user.id}">Edit</button>
                                    <!--Модальное окно изменение данных пользователя-->
                                    <div class="modal fade" th:id="${'userEdit'+user.id}" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel1">Edit user</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                                </div>
                                                <form th:method="POST" th:action="@{/admin/edit_user/{id}(id = ${user.id})}" th:name="${user}">
                                                <div class="modal-body text-center">
                                                    <label for="id1">ID</label>
                                                    <input class="form-control bg-light" type="text" th:value="${user.id}" th:readonly="readonly" id="id1"><br>
                                                    <label for="firstName1">First Name</label>
                                                    <input class="form-control bg-light" type="text" th:value="${user.firstName}" id="firstName1" name="firstName1"required><br>
                                                    <label for="lastName1">Last Name</label>
                                                    <input class="form-control bg-light" type="text" th:value="${user.lastName}" id="lastName1" name="lastName1" required><br>
                                                    <label for="email1" >Email</label>
                                                    <input class="form-control bg-light" type="text" th:value="${user.email}" id="email1" name="email1" required><br>
                                                    <label for="age1" >Age</label>
                                                    <input class="form-control bg-light" type="number" th:value="${user.age}" id="age1" name="age1" required><br>
                                                    <label for="username1">Username</label>
                                                    <input class="form-control bg-light" type="text" th:value="${user.username}" id="username1" name="username1" required><br>
                                                    <p>
                                                    <label for="roles1">Role</label>
                                                    <select class="form-control" id="roles1" name="roles1" th:value="${user.roles}">
                                                        <option value="0">select role</option>
                                                        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
                                                    </select>
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary mx-1">Edit</button>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle d-flex">
                                    <button type="button" class="btn btn-danger mx-1" data-bs-toggle="modal" th:data-bs-target="${'#userDelet'+user.id}">Delete</button>
                                    <!--Модальное окно удаление пользователя-->
                                    <div class="modal fade" th:id="${'userDelet'+user.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete user</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    <label for="id">ID</label>
                                                    <input class="form-control bg-light" type="text" th:placeholder="${user.id}" th:readonly="readonly" id="id"><br>
                                                    <label for="firstName">First Name</label>
                                                    <input class="form-control bg-light" type="text" th:placeholder="${user.firstName}" th:readonly="readonly" id="firstName"><br>
                                                    <label for="lastName">Last Name</label>
                                                    <input class="form-control bg-light" type="text" th:placeholder="${user.lastName}" th:readonly="readonly" id="lastName"><br>
                                                    <label for="email" >Email</label>
                                                    <input class="form-control bg-light" type="text" th:placeholder="${user.email}" th:readonly="readonly" id="email"><br>
                                                    <label for="age" >Age</label>
                                                    <input class="form-control bg-light" type="text" th:placeholder="${user.age}" th:readonly="readonly" id="age"><br>
                                                    <label for="roles" >Role</label>
                                                    <div class="form-control bg-light" th:each="role : ${user.roles}" th:text="${role.name}" id="roles"></div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <form th:method="POST" th:action="@{/admin/delete_user/{id}(id = ${user.id})}">
                                                        <button type="submit" class="btn btn-danger mx-1">Delete</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>
</div>
<th:block th:insert="general.html :: footer"/>
</body>
</html>
