<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="general.html :: headblock"/>
    <title>New user</title>
</head>
<body>
<th:block th:insert="general.html :: header"/>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="list-group-flush">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    Admin
                </a>
                <a href="#" class="list-group-item list-group-item-action" th:href="@{/user}">User</a>
            </div>
        </div>
        <div class="col bg-light start-10">
            <h1 class="my-3 mx-2">Admin panel</h1>
            <div class="card-header bg-light">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/admin}">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="true" href="#">New User</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <h5 class="card-title bg-light">Add new user</h5>
                <div class="bg-white text-center">
                    <form class="justify-content-md-center" th:method="POST" th:action="@{/admin/new_user}" th:object="${user}">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" th:field="*{firstName}"  class="form-control" placeholder="Имя" required="" autofocus="" id="firstName"><br>
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" th:field="*{lastName}"  class="form-control" placeholder="Фамилия" required="" autofocus="" id="lastName"><br>
                        <label for="email" class="form-label">Email</label>
                        <input type="text" th:field="*{email}"  class="form-control" placeholder="Email" required="" autofocus="" id="email"><br>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                        <label for="age" class="form-label">Age</label>
                        <input type="number" th:field="*{age}"  class="form-control" placeholder="Возраст" required="" autofocus="" id="age"><br>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
                        <label for="username" class="form-label">Username</label>
                        <input type="text" th:field="*{username}"  class="form-control" placeholder="Логин" required="" autofocus="" id="username"><br>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                        <label for="password" class="form-label">Password</label>
                        <input type="password" th:field="*{password}" class="form-control" placeholder="Пароль" required="" autofocus="" id="password"><br>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                        <p>
                            <label for="roles" class="form-label">Role</label>
                                <select class="form-control" id="roles" th:field="*{roles}">
                                    <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
                                </select>
                        </p>
                        <button type="submit" class="btn btn-success">Add new user</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="general.html :: footer"/>
</body>
</html>